<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Existing HTTPS redirect rule -->
                <rule name="HttpsForce" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>

                <!-- New rule to redirect www to non-www -->
                <rule name="Redirect www to non-www" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.(.*)$" />
                    </conditions>
                    <action type="Redirect" url="http://{C:1}/{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Existing rule to hide .html extension -->
                <rule name="Hide .html ext">
                    <match url="^(.*)" ignoreCase="true" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}.html" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}.html" />
                </rule>

                <!-- Existing rule to redirect .html extension -->
                <rule name="Redirecting .html ext" stopProcessing="true">
                    <match url="^(.*).html" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="(.*).html" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Existing default document configuration -->
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.html" />
                <add value="Index.html" />
            </files>
        </defaultDocument>

        <!-- Adding httpErrors for custom 404 page -->
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>

        <!-- Adding HSTS header -->
        <httpProtocol>  
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
                <!-- Adding CORS headers -->
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Origin, Content-Type, Accept, Authorization" />
                <add name="Access-Control-Max-Age" value="86400" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
